@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: red;
    color: #f0f0f0;
    margin: 0;
}

header h1 {
    font-size: 8.5rem;
    font-weight: 800;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 4rem;
}

p {
    font-weight: 400;
    font-size: 2rem;
}

#jugables {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}

header {
    background: linear-gradient(90deg,#9147ff,#ff4d6d);
    padding: 1rem;
    text-align: center;
}

header img {
    width: 40%;
}

nav {
    display: flex;
    justify-content: center;
    gap: 8rem;
    background-color: rgb(114, 17, 17);
    padding: 0.5rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

nav a:hover {
    color: #9147ff;
}

main {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}

section {
    margin-bottom: 2rem;
}

#sobre-mi {
    background-color: rgb(114, 17, 17);
    font-weight: 500;
}

#streams {
    font-size: 2rem;
}

/* #juegos {
    text-align: left;
    font-weight: 500;
    background-color: rgb(114, 17, 17);
    text-align: center;
    list-style-type: none;
} */

@media (max-width: 600px) {
    body {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

table {
    border-collapse: collapse;
    margin: 1.3rem 0;
    width: 100%;
    background-color: rgb(114, 17, 17);
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    padding: 1rem 1rem;
}

td:first-child {
    font-weight: bold;
}

footer {
    background-color: #0e0e0e;
    text-align: center;
    padding: 0.5rem;
    margin-top: 4rem;
    font-size: 1.5rem;
}